**/__pycache__/
.vscode/*
*.pth.tar
*.pth
*.jpg 
*.pdf 
*.txt
*.out
*.pt
*.py[cod]
*$py.class
*.egg-info
.pytest_cache
.ipynb_checkpoints
*/*.pth
*.ipynb
thumbs.db
.DS_Store
.idea
*.log

datasets
./datasets
*.cache
clip/Notebooks
clip/__pycache__
minLoRA
wandb
__pycache__
clip/Notebooks
DiffTPT
PromptAlign